<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}" defer></script>
    <title>SoundFlask.io</title>
</head>
<body>
    <nav>
        <div class="container">
            <h1>SoundFlask.io</h1>
            <p>{{session['username']}}'s</p>
            <p>DASHBOARD</p>
            <a href="/clear">LOGOUT</a>
        </div>
    </nav>
    <main>

    {%if session['reel_creation'] == true%}
        <div  id="reel_creation" class="container">
            <div class="container">
                <div id="reg" class="hero p-5">
                    <h2 class="form-h2">REEL CREATION</h2>
                    <div class="form-group">
                        <form action="/create_reel" method="POST">
                            <label for="name" type="text" name="email">NAME:</label>
                            <input class="form-control" type="text" name="name">
                                <button type="submit" class="button-3">CREATE</button>
                            <div>
                                <button id="revealReelCreationButton" class="button-4" onclick="hideReelCreation()">BACK</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="blurry">
            <div class="container">
                <div class="d-container">
                        <div class="column">
                                <h2>YOUR REELS</h2>
                                        {%for r in all_reels%}
                                            <a class="reel-a" href="/reel/view/{{r.id}}">
                                            <ul id="{{r.id}}" class="reel-box droppable">
                                                <p class="reel-name">{{r.name}}</p>
                                                    {%for t in r.tracks%}
                                                    <li class="track-container">
                                                        <p class="track">{{t.title}}</p>
                                                            <audio src="{{ url_for('static', filename=t.path) }}" controlsList="noplaybackrate nodownload"><audio>
                                                    </li>
                                                    {%endfor%}
                                                </ul>
                                            </a>
                                        {%endfor%}
                            <button id="revealReelCreationButton" class="button-3">CREATE A NEW REEL</button>
                        </div>
                        <div class="column">
                            <h2>YOUR TRACKS</h2>
                            <ul>
                            {%for f in all_files%}
                            <li id="{{f.id}}" class="tiny-container draggable">
                                        <p class="tiny-track">{{f.title}}</p>
                                        <audio class="tiny-audio-box" src="{{ url_for('static', filename=f.path) }}" controlsList="noplaybackrate nodownload"></audio>
                            </li>
                            {%endfor%}
                            </ul>
                            <div class="d-container">
                                <div class="form-group upload">
                                    <h2>UPLOAD AUDIO</h2>
                                    <form method=post enctype=multipart/form-data>
                                        <input class="d-form-control" type="text" name="title" placeholder="TITLE">
                                        <input class="custom-file-input" type=file name=file>
                                        <div>
                                            <button type="submit" class="button-3">UPLOAD</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {%elif session['reel_creation'] == false or 'reel_creation' not in session %}
        <div id="not_blurry">
            <div class="container">
                <div class="d-container">
                        <div class="column">
                                <h2>YOUR REELS</h2>
                                        {%for r in all_reels%}
                                            <a class="reel-a" href="/reel/view/{{r.id}}">
                                            <ul id="{{r.id}}" class="reel-box droppable">
                                                <p class="reel-name">{{r.name}}</p>
                                                    {%for t in r.tracks%}
                                                    <li class="tiny-container">
                                                            <p class="tiny-track">{{t.title}}</p>
                                                                <audio class="tiny-audio-box" controls src="{{ url_for('static', filename=t.path) }}" controlsList="noplaybackrate nodownload"><audio>
                                                    </li>
                                                    {%endfor%}
                                                </ul>
                                            </a>
                                        {%endfor%}
                            <button id="revealReelCreationButton" class="button-3" onclick="revealReelCreation()">CREATE A NEW REEL</button>
                        </div>
                        <div class="column">
                            <h2>YOUR TRACKS</h2>
                            <ul>
                            {%for f in all_files%}
                                <li id="{{f.id}}" class="track-container draggable">
                                        <p class="track-title">{{f.title}}</p>
                                        <audio class="track" src="{{ url_for('static', filename=f.path) }}"></audio>
                                </li>
                            {%endfor%}
                            </ul>
                            <div class="d-container">
                                <div class="form-group upload">
                                    <h2>UPLOAD AUDIO</h2>
                                    <form method=post enctype=multipart/form-data>
                                        <input class="d-form-control" type="text" name="title" placeholder="TITLE">
                                        <input class="custom-file-input" type=file name=file>
                                        <div>
                                            <button type="submit" class="button-3">UPLOAD</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
        {%endif%}
    </main>
</body>
</html>