<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <title>SoundFlask.io</title>
</head>
<!-- <body class="bg-primary-custom">
    <div class="nav">
        <div class="container mt-4 d-flex justify-content-between align-items-center">
            <h1 class="text-primary-custom">Sound<span class="text-secondary-custom">Flask</span>.io</h1>
            <h4 class="text-primary-custom"><a href="/login">Login</a></h4>
        </div>
    </div> -->
    <h1>Hello {{session['username']}}</h1>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <label for="title">Track Title:</label>
        <input type="text" name="title">
        <input type=submit value='Upload'>
    </form>
    <h1>My files:</h1>
    <hr>
    {%for f in all_files%}
        <p>{{f.title}}</p>
        <audio controls src="{{ url_for('static', filename=f.path) }}"></audio>
        <hr>
    {%endfor%}

    <h1>Create a new Reel</h1>
    <form action="/create_reel" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <input type=submit value='Submit'>
    </form>

    <h1>My reels:</h1>
    {%for r in all_reels%}
        <p>{{r.name}}</p>
        <hr>
    {%endfor%}

    <h1>Add Track to reel:</h1>
    <form action="/save_track_to_reel" method="POST">
        <label for="title">Track Title:</label>
        <input type="text" name="title">
        <label for="name">Reel Name:</label>
        <input type="text" name="name">
        <input type=submit value='Submit'>
    </form>
</body>
</html>