<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <title>SoundFlask.io</title>
</head>
<body class="bg-primary-custom">
    <div class="nav">
        <div class="container mt-4 d-flex justify-content-between align-items-center">
            <h1 class="text-primary-custom">Sound<span class="text-secondary-custom">Flask</span>.io</h1>
            <h4 class="text-primary-custom"><a href="/login">Login</a></h4>
        </div>
    </div>
    <!-- <main style="height: 500px;">
        <div class="container">
            <button class="btn btn-primary-custom">Get Started</button>
        </div>
    </main> -->
</body>
</html>