<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <title>SoundFlask.io</title>
</head>
<body>
        <nav>
            <div class="container">
                <h1>SoundFlask.io</h1>
                <a href="/view/login">LOGIN</a>
                <a href="/view/register">
                    <button class="button-1" formaction=>SIGN UP</button>
                </a>
                    
            </div>
        </nav>
        <main>
            <div class="container">
                <div class="hero">
                    <h1>BRING YOUR AUDIO</h1>
                    <h1>DESIGN STUNNING REELS</h1>
                    <h1>LAND THAT GIG</h1>
                    <img src="https://via.placeholder.com/640x360.png?text=DEMO+VIDEO+HERE+OR+IMG+HERE" alt="">
                    <div class="hero-description">
                        <p>
                            Soundflask is your tool for organizing and designing audio reels to send to clients. We offer user customizablity per-reel and tracking of client listening patterns so you can perfect your that first impression and win over clients.
                        </p>
                    </div>
                    <button class="button-2">TRY IT OUT NOW</button>
                </div>
            </div>
            <div class="container ">
                <div class="num-circle">1</div>
            </div>
        </main>
</body>
</html>