<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='script/script.js') }}" defer></script>
    <title>SoundFlask.io</title>
</head>
<body>
        <nav>
            <div class="container">
                <h1>SoundFlask.io</h1>
                <a onclick="revealReelCreation()">LOGIN</a>
                <a href="/view/register">
                    <button class="button-1" formaction=>SIGN UP</button>
                </a>
            </div>
        </nav>
        <main>
            <div id="reel_creation" class="container" style="display:none;">
                <div id="reg" class="hero p-5">
                    <h2 class="form-h2">LOGIN</h2>
                    <hr>
                    <div class="form-group">
                        <form action="/login" method="POST">
                            <label for="email" type="text" name="email">Email:</label>
                            <input class="form-control" type="text" name="email">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" name="password">
                            <button type="submit" class="button-3">Login</button>
                        </form>
                        <button id="revealReelCreationButton" class="button-4" onclick="hideReelCreation()">BACK</button>
                    </div>
                    <!-- <img src="https://via.placeholder.com/640x360.png?text=DEMO+VIDEO+HERE+OR+IMG+HERE" alt=""> -->
    
                    <div class="hero-description">
                        <p class="form-subtext">
                            Need to create an account? <a href="/view/register">Sign up</a> here.
                        </p>
                    </div>
                    <!-- <button class="button-2">TRY IT OUT NOW</button> -->
                </div>
            </div>
        <div id="blur">
            <div class="container">
                <div class="hero">
                    <h1>BRING YOUR AUDIO</h1>
                    <h1>DESIGN STUNNING REELS</h1>
                    <h1>LAND THAT GIG</h1>
                    <img src="https://via.placeholder.com/640x360.png?text=DEMO+VIDEO+HERE+OR+IMG+HERE" alt="">
                    <div class="hero-description">
                        <p>
                            Soundflask is your tool for organizing and designing audio reels to send to clients. We offer user customizablity per-reel and tracking of client listening patterns so you can perfect your that first impression and win over clients.
                        </p>
                    </div>
                    <!-- TODO: add anchor around button that goes to signs up -->
                    <button class="button-2">TRY IT OUT NOW</button>
                </div>
            </div>
        </div>
        </main>
</body>
</html>