<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#sortable" ).sortable({
        revert: true
        });
        $( "#draggable" ).draggable({
        connectToSortable: "#sortable",
        helper: "clone",
        revert: "invalid"
        });
        $( "#draggable2" ).draggable({
        connectToSortable: "#sortable",
        helper: "clone",
        revert: "invalid"
        });
        $( "#draggable3" ).draggable({
        connectToSortable: "#sortable",
        helper: "clone",
        revert: "invalid"
        });
        $( "ul, li" ).disableSelection();
    } );
    </script>
    <title>{{session['username']}} Reel View</title>
</head>
<body>
    <ul>
        <li id="draggable" class="ui-state-highlight">AUDIO FILE</li>
    </ul>
    <ul>
        <li id="draggable2" class="ui-state-highlight">AUDIO FILE 2</li>
    </ul>
    <ul>
        <li id="draggable3" class="ui-state-highlight">AUDIO FILE 2</li>
    </ul>
    <hr>
    <ul id="sortable">
        <li class="ui-state-default">AUDIO FILE 4</li>
    </ul>
</body>
</html>